.custom_ctn{
    max-width: 150rem;
}

.mb-50{
    margin-bottom: 5rem;
}

.mb-40{
    margin-bottom: 4rem;
}

.mt-40{
    margin-top: 4rem;
}

.mr_2{
    margin-right: 2rem;
}

.color-white{
    color: white;
}

.sticky{
    background-color: white;
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 6%);;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: fixed;
    width: 100%;
}

.sticky_section{
    background-color: white;
    box-shadow: 0 4px 6px 0 rgb(12 0 46 / 6%);;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: fixed;
    width: 100%;
    color: $black !important;
}

.btn-white{
    cursor: pointer;
    color: $primaryColor;
    text-decoration: none;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    background-color: $white;
    transition: 0.2s all linear;
    border-radius: 3px;
    border: 1px solid $white;
}

.btn-white:hover,
.btn-white:active{
    background-color: #ececec;
    
    border: 1px solid #ececec;
}

.btn-sticky{
    box-shadow: 0 0 0 0;
    border: 1px solid $primaryColor;
}

.btn-sticky:hover{
    background-color: $primaryColor;
    color: $white;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
}
.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;

    stroke-linecap:round;
}

.ham4 .top {
stroke-dasharray: 40 121;
}
.ham4 .bottom {
stroke-dasharray: 40 121;
}
.ham4.active .top {
stroke-dashoffset: -68px;
}
.ham4.active .bottom {
stroke-dashoffset: -68px;
}

.btn-mobile-nav{
    display: none;
}

.fill-header{
    background-color: white;
    // width: 100%;
    // position: fixed;
}

.paddingBottom{
    padding-bottom: 0px;

    @media(max-width: 1000px){
        padding-bottom: 10px;
    }
}

.btn-wrapper-t-c{
    @media(max-width: $md){
        text-align: center;
    }
}

.container{
    @media(max-width: $md){
        max-width: 95% !important;
    }
}