@media (max-width: 1000px) {
   .header-p-relative{
        position: relative;
    }

    .main-nav-items{
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity:0;
        pointer-events: none;
        visibility: hidden;
        z-index: 999;
        transform: translateY(-50px);
        transition: all 0.3s linear;
        padding-bottom: 2rem;
        box-shadow: 0 2px 1px 0 rgba(0,0,0, 0.1);
        text-align: center;
    }

    .nav-open .main-nav-items  {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        visibility: visible;
    }

    .main-nav-items ul{
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-btn{
        // display: block !important;
        // .btn-white{
        //     margin-right: 30px !important;
        // }
    }

    .main-nav-items ul li a{
        margin: 0 !important;

    }

    .btn-mobile-nav{
        display: block;
        z-index: 999;
    }

    .active-dropdown{
        display: contents !important;
        text-align: center;
        transition: 0.3s all linear;
    }

    .dropdown-menu-custom{
        top: calc(100% + 10rem) !important;
        transform: translateY(0);
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        // transform: 0s all !important;
    }





    .header-p-relative{
        position: relative;
    }

    .section-main-nav-items{
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity:0;
        pointer-events: none;
        visibility: hidden;
        z-index: 999;
        transform: translateY(-50px);
        transition: all 0.3s linear;
        padding-bottom: 2rem;
        box-shadow: 0 2px 1px 0 rgba(0,0,0, 0.1);
        text-align: center;
    }

    .nav-open .section-main-nav-items  {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        visibility: visible;
    }

    .section-main-nav-items ul{
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-btn{
        // z-index: 999;
        display: none;
    }

    .main-nav-items ul li{
        // font-size: 2rem;
    }

    .section-main-nav-items ul li a{
        margin: 0 !important;

    }

    .btn-mobile-nav{
        display: block;
        z-index: 999;
    }

}