.footer{
    background-color: #F4F4F9;
    // background-image: url('../../img/staff-bg.png');
    // background-size: cover;
    // padding: 25rem 0 0rem 0;
    // background-repeat: no-repeat;
    padding-top: 6rem;
    .col-md-4{
        @media(max-width: $md){
            margin-bottom: 2rem !important;
        }
    }

    .heading-footer{
        font-size: 1.6rem;
        font-weight: 400;
        color: $primaryHeadingColor;
        margin-bottom: 2rem;
        @media(max-width: $md){
            text-align: center;
            margin-top: 2rem;
            // margin-bottom: 10rem;
        }

        span{
            font-weight: 600;
        }
    }

    .icon-social-main{
        margin-right: 7px;
        margin-top: 15px;
    }

    .align-c{
        text-align: center;
    }

    .align-l{
        text-align: left;
        @media(max-width: $md){
            text-align: center;
        }
    }

    .social-icons-wrapper{
        @media(max-width: 767px){
            text-align: center;
        }
    }

    p{
        text-align: center;
        font-size: 1.3rem;
        color: #717171;

        a{
            text-decoration: none;
            transition: 0.3s all ease-in;
            color: #717171;
        }

        a:hover{
            color: #545454;
        }
    }


    .footer-end{
        padding: 1rem 0;
        .copyright_txt{
            text-align: left;
            @media(max-width: 767px){
                text-align: center;
            }
        }

        .developed_txt{
            text-align: right;
            @media(max-width: 767px){
                text-align: center;
            }
            a{
                color: #545454;
                text-decoration: none;
            }
        }
    }
}